In [1]:
#Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

#Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [2]:
df.loc[:,'salary_year_avg':'salary_hour_avg']

        salary_year_avg  salary_hour_avg
0                   NaN              NaN
1                   NaN              NaN
2                   NaN              NaN
3                   NaN              NaN
4                   NaN              NaN
...                 ...              ...
785736              NaN              NaN
785737              NaN              NaN
785738              NaN              NaN
785739              NaN              NaN
785740              NaN              NaN

[785741 rows x 2 columns]

In [3]:
median_salary_year = df['salary_year_avg'].median()
print(median_salary_year)

median_salary_hour = df['salary_hour_avg'].median()
print(median_salary_hour)

115000.0
45.97999954223633

In [10]:
df_filled = df
df_filled[['salary_year_avg', 'salary_hour_avg']] = df_filled[['salary_year_avg', 'salary_hour_avg']].fillna({
    'salary_year_avg':median_salary_year, 
    'salary_hour_avg':median_salary_hour
})

In [14]:
df_unique = df_filled

df_unique = df_unique.drop_duplicates()

print('Length of df_filled  :', len(df_filled))
print('Length of df_unique  :', len(df_unique))
print('Rows Dropped         :', len(df_filled)-len(df_unique))

Length of df_filled  : 785741
Length of df_unique  : 785640
Rows Dropped         : 101

In [15]:
df_unique = df_unique.drop_duplicates(['job_title', 'company_name'])

print('Length of df_filled  :', len(df_filled))
print('Length of df_unique  :', len(df_unique))
print('Rows Dropped         :', len(df_filled)-len(df_unique))

Length of df_filled  : 785741
Length of df_unique  : 508042
Rows Dropped         : 277699